
@import '_mixin';

section {
	.cc-tab {
		li {
			a {
				color: $active;
				font-weight: 500;
			}

			&.uk-active {
				a {
					color: $warning;
					border-bottom: 2px solid $warning;
				}
			}
		}
	}

	h5 {
		&.success {
			background: $active;
		}

		&.info {
			background: $info;
		}

		&.error {
			background: $danger;
		}
	}

	.cc-title {
		color: $neutral;
		position: relative;
		font-weight: 500;

		&:before {
			content: '';
			position: absolute;
			width: 100px;
			height: 2px;
			background: $neutral;
			bottom: -10px;
			left: 0;
		}
	}
}